<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.icomp.Iswtmv10"
          android:installLocation="auto"
          android:versionCode="10"
          android:versionName="V1.10">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18"/>

    <!-- 声明该应用自身所拥有的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <!-- 友盟统计异常 -->
    <!-- 获取用户设备的IMEI，通过IMEI和mac来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.t_epc.UHFApplication"
        android:allowBackup="true"
        android:label="@string/app_name">

        <!-- 用户登录及菜单Activity START -->
        <activity
            android:name=".v01c00.c00s000.C00S000_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c00.c00s000.C00S000_002Activity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c00.c00s000.C00S000_003Activity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c00.c00s000.C00S000_004Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 刀具修磨Activity START -->
        <activity
            android:name=".v01c00.c00s000.C00S000_000Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".v01c00.c00s000.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <!--
             <meta-data
             android:name="com.google.android.gms.version"
             android:value="@integer/google_play_services_version" />
        -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57a297c5e0f55aeb24004c81"/>

        <activity
            android:name=".v01c01.c01s001.C01S001_001Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s001.c01s001_002Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s001.c01s001_003Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s002.C01S002_001Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".v01c01.c01s002.C01S005_102Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c01.c01s002.C01S005_103Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c01.c01s003.C01S003_001Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s003.C01S003_002Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s003.c01s003_003Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s004.C01S004_001Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s004.c01s004_002Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s004.c01s004_003Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s004.c01s004_004Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s005.C01S005_001Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".v01c01.c01s005.c01s005_002_1Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s005.c01s005_003_1Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s005.c01s005_004_1Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s005.c01s005_005Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s005.c01s005_002_2Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s005.c01s005_003_2Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s005.c01s005_002_3Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s005.c01s005_003_3Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s008.C01S008_001Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s008.c01s008_002Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s009.C01S009_002Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s009.C01S009_012Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s009.C01S009_013Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s010.C01S010_001Activity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s010.c01s010_002Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s010.c01s010_003Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".v01c01.c01s010.c01s010_004Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>

        <!-- 设备安上Activity START -->
        <activity
            android:name=".v01c01.c01s011.C01S011_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c01.c01s011.C01S011_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c01.c01s011.C01S011_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <!-- 设备安上具Activity END -->


        <!-- 卸下设备Activity START -->
        <activity
            android:name=".v01c01.c01s013.C01S013_000Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c01.c01s013.C01S013_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c01.c01s013.C01S013_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c01.c01s013.C01S013_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c01.c01s013.C01S013_004Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c01.c01s013.C01S013_0021Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".v01c01.c01s013.C01S013_0041Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <!-- 卸下设备Activity END -->


        <!-- 调节屏幕亮度 -->
        <activity
            android:name=".v01c02.c02s001.C02S001_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 调节音量 -->
        <activity
            android:name=".v01c02.c02s002.C02S002_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 网络配置 -->
        <activity
            android:name=".v01c02.c02s003.C02S003_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 日期时间 -->
        <activity
            android:name=".v01c02.c02s004.C02S004_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 读头信息 -->
        <activity
            android:name=".v01c02.c02s005.C02S005_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- FanLL Commit Begin -->
        <!-- 库房盘点页面1 -->
        <activity
            android:name=".v01c01.c01s015.C01S015_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 库房盘点页面2 -->
        <activity
            android:name=".v01c01.c01s015.C01S015_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 库房盘点页面3 -->
        <activity
            android:name=".v01c01.c01s015.C01S015_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 回厂确认页面1 -->
        <activity
            android:name=".v01c01.c01s017.C01S017_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 回厂确认页面2 -->
        <activity
            android:name=".v01c01.c01s017.C01S017_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 回厂确认页面3 -->
        <activity
            android:name=".v01c01.c01s017.C01S017_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/> <!-- 回厂确认页面3 -->
        <activity
            android:name=".v01c01.c01s017.C01S017_004Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!--&lt;!&ndash; 回厂确认页面4 &ndash;&gt;-->
        <!--<activity-->
            <!--android:name=".v01c01.c01s017.C01S017_004Activity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />-->

        <!-- 厂内修磨页面1 -->
        <activity
            android:name=".v01c01.c01s018.C01S018_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 厂内修磨页面2 -->
        <activity
            android:name=".v01c01.c01s018.C01S018_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 厂内修磨页面3 -->
        <activity
            android:name=".v01c01.c01s018.C01S018_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 厂内修磨页面4 -->
        <activity
            android:name=".v01c01.c01s018.C01S018_004Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 厂内修磨页面5 -->
        <activity
            android:name=".v01c01.c01s018.C01S018_012Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 厂内修磨页面6 -->
        <activity
            android:name=".v01c01.c01s018.C01S018_013Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 厂外修磨页面1 -->
        <activity
            android:name=".v01c01.c01s019.C01S019_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 厂外修磨页面2 -->
        <activity
            android:name=".v01c01.c01s019.C01S019_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 厂外修磨页面3 -->
        <activity
            android:name=".v01c01.c01s019.C01S019_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 单品绑定页面1 -->
        <activity
            android:name=".v01c01.c01s023.C01S023_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <!-- 单品绑定页面2 -->
        <activity
            android:name=".v01c01.c01s023.C01S023_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <!-- 单品绑定页面3 -->
        <activity
            android:name=".v01c01.c01s023.C01S023_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 快速查询页面1 -->
        <activity
            android:name=".v01c01.c01s024.C01S024_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 快速查询页面2 -->
        <activity
            android:name=".v01c01.c01s024.C01S024_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 初始化菜单页面 -->
        <activity
            android:name=".v01c03.c03s000.C03S000_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 刀具初始化菜单页面 -->
        <activity
            android:name=".v01c03.c03s000.C03S000_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 设备初始化菜单页面 -->
        <activity
            android:name=".v01c03.c03s000.C03S000_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 合成刀具初始化页面1 -->
        <activity
            android:name=".v01c03.c03s001.C03S001_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 合成刀具初始化页面2 -->
        <activity
            android:name=".v01c03.c03s001.C03S001_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 合成刀具初始化页面3 -->
        <activity
            android:name=".v01c03.c03s001.C03S001_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 合成刀具初始化页面4 -->
        <activity
            android:name=".v01c03.c03s001.C03S001_004Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 库位标签初始化页面1 -->
        <activity
            android:name=".v01c03.c03s002.C03S002_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 库位标签初始化页面2 -->
        <activity
            android:name=".v01c03.c03s002.C03S002_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 库位标签初始化页面3 -->
        <activity
            android:name=".v01c03.c03s002.C03S002_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 库位标签初始化页面4 -->
        <activity
            android:name=".v01c03.c03s002.C03S002_004Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 加工设备初始化页面1 -->
        <activity
            android:name=".v01c03.c03s003.C03S003_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 加工设备初始化页面2 -->
        <activity
            android:name=".v01c03.c03s003.C03S003_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 修磨设备初始化1 -->
        <activity
            android:name=".v01c03.c03s004.C03S004_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 修磨设备初始化2 -->
        <activity
            android:name=".v01c03.c03s004.C03S004_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 员工卡初始化页面1 -->
        <activity
            android:name=".v01c03.c03s005.C03S005_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 员工卡初始化页面2 -->
        <activity
            android:name=".v01c03.c03s005.C03S005_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 员工卡初始化页面3 -->
        <activity
            android:name=".v01c03.c03s005.C03S005_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <!-- 筒刀初始化页面1 -->
        <activity
            android:name=".v01c03.c03s006.C03S006_001Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <!-- 筒刀初始化页面2 -->
        <activity
            android:name=".v01c03.c03s006.C03S006_002Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <!-- 筒刀初始化页面3 -->
        <activity
            android:name=".v01c03.c03s006.C03S006_003Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <!-- FanLL Commit End -->
        <activity android:name=".v01c01.c01s005.C01S005_002_add"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".v01c01.c01s009.C01S009_001Activity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".v01c01.c01s009.C01S009_003Activity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
    </application>

</manifest>